* {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  top: 0px;
  display: block;
  z-index: -1;
}

p{
  font-size: 20px;
  text-align: right;
  font-family: sans-serif;
  margin-right: 5px;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.message1{
  color: #c44;
}
.message2{
  color: #c44;
}
.message3{
  color: #91ceeb;
}

@media (max-width: 771.5px){
  .small{
  	font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 772px) and (max-width: 1199.5px) {
  .mid{
  	font-size: 17px;
  }
}

@media (min-width: 1200px){
	.large{
  	font-size: 20px;
  }
}